*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #3c4043;
    height: 100%;
    width: 100%;
    font-family: arial, sans-serif;
}
.wrapper{
    height: 100vh;
    overflow: hidden;
}
a{
    line-height: 24px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 16px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}
.header{
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header a{
    color: rgba(0,0,0,0.87);
    margin: 0 5px;
    font-size: 14px;
}
.header__dotted{
    background-color: transparent;
    border: none;
    width: 2px !important;
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__dotted:hover{
    background-color:rgba(60, 64, 67, 0.08);
    border-radius: 50%;
}
.header__sign{
    color: #fff;
    background-color: #1a73e8;
    box-shadow: 0 1px 2px 0 rgb(66, 133, 244/ 30%);
    margin-left: 8px;
    border: 1px solid transparent;
}
.header__sign:hover{
    background-color: #2b7de9;
    box-shadow:0 1px 3px 1px rgb(66 133 244 / 15%);
}
.main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}
.main__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__wrapper-logo{
    height: 92px;
    max-width: 272px;
}
.main__searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 570px;
    max-width: 584px;
    position: relative;
   padding: 0 10px;
   margin: 25px 0;
}
.main__searchbar:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
    ;
}
.main__searchbar-loupe{
    width: 25px;
    height:25px;
    position: relative;
    color: #9aa0a6;
    left: 0;
    top: 0;
}
.main__searchbar-input{
    width: 85%;
    height: 100%;
    border: none;
}
.main__searchbar-input:focus-visible{
    border:none;
    outline-width: 0;
}
.main__searchbar-mic{
    width: 25px;
    height: 25px;
    position: relative;
    right: 0;
    top: 0;
    margin-left: 8px;
}
.main__buttons{
    margin-bottom: 10px;
}
.main__buttons-lookfor, .main__buttons-lucky{
    background-color: transparent;
    color: #3c4043;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
}
.main__buttons-lookfor:hover , .main__buttons-lucky:hover {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.main__language{
    color: #3c4043;
    line-height: 28px;
    font-size: 14px;
}
.main__language a{
    color: #1a0dab;
    text-decoration: none;
}
.main__language a:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    height: 10vh;
    margin: 20px 0;
    padding: 0 20px;
    height: auto;
    border-top: 1px solid #dadce0;
    background-color:#f2f2f2;
}
.footer a{
    color: #70757a;
    padding: 15px 5px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer__center{
}
.footer__center a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__center img{
    height: 20px;
    margin-right: 6px;
}